.formDiv {
  align-self: center;
  width: 30%;

  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;

  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgb(29, 29, 143) 0%, rgb(6, 169, 202) 100%) border-box;
  border-radius: 4px;
  border-top: 4px solid transparent;
  box-shadow: 0px 2px 5px rgba(50, 50, 93, 0.25);
}

.passwordInp {
  padding: 8px;

  font-size: 1rem;
}

.spacer {
  min-height: 16px;
}

.submitBtn {
  padding: 8px;

  border: none;
  border-radius: 4px;

  font-size: 1rem;

  color: white;
  background: rgb(29, 29, 143);
  background: linear-gradient(90deg, rgb(29, 29, 143) 0%, rgb(6, 169, 202) 100%);

  cursor: pointer;
}