.page {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

.sidebarDiv {
  width: 25%;
  min-width: 256px;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.tabDiv {
  flex-grow: 1;
}

.tabBtn {
  background-color: gray;
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.tabBtn:hover {
  background-color: #ffffff;
}